<nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#" id="logo" ><img id="navicon" src="./images/todo.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="bold" href="#">home</a></li>
                        <li><a class="bold" href="#todo">to-dos</a></li>
                        <li><a class="bold" href="#about">about</a></li>
                        <li><a class="bold" href="#contact">contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>