<h1 id="title">Incomplete: <span ng-class="vm.accomplishmentStatus()">{{vm.countTodos()}}</span></h1>
<label for="showAll">Show all To Dos: </label> <input type="checkbox" name="showAll" ng-model="vm.showComplete">

<div>
<todo-show todo="vm.selected" ng-show="vm.selected" go-back="vm.displayTable()" on-update="vm.updateTodo(todo)"></todo-show>

<table class="table" id="table" ng-show="vm.showTable">
	<tr scope="row">
		<th>ID</th>
		<th>Task</th>
		<th>Description</th>
		<th>Mark</th>
		<th>Status</th>
		<th>Complete Date</th>
		<th>Delete</th>
	</tr>
	<tr ng-repeat = "td in vm.todos | incompleteFilter:vm.showComplete | date:'MM/dd/yyyy' | orderBy:'id'">
		<td>{{td.id}}</td>
		<td ng-click="vm.displayTodo(td)">{{td.task}}</td>
		<td ng-click="vm.displayTodo(td)">{{td.description}}</td>
		<td><input type="checkbox" name="mark" ng-model="td.completed" ng-change="vm.updateTodo(td)"></td>
		<td>{{td.completed}}</td>
		<td>{{td.completeDate}}</td>
		<td><button type="submit" class="btn btn-danger" ng-click="vm.deleteTodo(td)">x</button></td>
	</tr>
</table>

</div>

<div id="form">
<form ng-show="vm.showTable">
	<input class="newTaskInput" type="text" ng-model="todos.task" placeholder="Task Name"/><br>
	<input class="newTaskInput" type="text" ng-model="todos.description" placeholder="Task Description"/><br>
	<input type="submit" value="Add ToDo" ng-click="vm.addToList(todos); todos={}"/>
</form>

</div>